body{
    margin: 0;
    padding-top: 90px;
}

.topmenu{
    background-color: rgb(88, 88, 88);
    color: aliceblue;
    height: 10vh;
    width: 100%;
    align-content: center;
    min-height: 90px;
    position:fixed;
    z-index: 999;
    top: 0;
}

.topmenubutton{
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0px 20px;
    transform: translateY(0px);
    transition:transform 0.5s;
}

.topmenubutton:hover{
    background-color: rgb(63, 63, 63);
    transition: background-color 0.5s;
    transform: translateY(10px);
    transition: transform 0.25s;
}

.topmenutext{
    text-decoration: none;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}