.card::after, .card::before {
    content: '';
    border: 3px solid rgb(83, 83, 83);
    width: 300px;
    height: 300px;
    background-color: rgb(151, 144, 144);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: rgb(0, 0, 0);
    font-size: 5px;
    z-index: -1;
}

.card h1 {
    text-align: center;
}

.card p {
    text-align: center;
    font-size: 20px;
}

body {
    background-color: rgb(255, 255, 255);
}

.card::before {
    filter: blur(1.5rem);
    opacity: 1;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}

.card{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 80%;
    left: 50%;
    background-image: conic-gradient(from var(--angle) ,transparent 70%, rgb(0, 0, 0), rgb(255, 136, 0));
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
}









.text-box {
    border: 1px solid black;
    width: 50%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    overflow: auto;
    background-color: rgb(202, 202, 202);
    overflow-wrap: break-word;
}

.text-box h1 {
    text-align: center;
    translate: 0 -15px;
}

.text-box span {
    padding: 15px;
    display: block;
    font-size: larger;
    translate: 0 -25px;
}



.question-div1 {
    margin: 70px 0;
    position: absolute;
    left: 5%;
    width: 90%;
    translate: 0 -30px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

.question-div1 select {
    width: auto;
    height: 20px;
}


.question-div2 {
    margin: 140px 0;
    position: absolute;
    left: 5%;
    width: 90%;
    translate: 0 -30px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

.question-div2 select {
    width: auto;
    height: 20px;
}


.question-div3 {
    margin: 210px 0;
    position: absolute;
    left: 5%;
    width: 90%;
    translate: 0 -30px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

.question-div3 select {
    width: auto;
    height: 20px;
}

.question-div4 {
    position: absolute;
    left: 5%;
    width: 90%;
    translate: 0 -30px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

.question-div4 select {
    width: auto;
    height: 20px;
}

.question-div5 {
    margin: 280px 0;
    position: absolute;
    left: 5%;
    width: 90%;
    translate: 0 -30px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

.question-div5 select {
    width: auto;
    height: 20px;
}

.question-div6 {
    margin: 350px 0;
    position: absolute;
    left: 5%;
    width: 90%;
    translate: 0 -30px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

.question-div6 select {
    width: auto;
    height: 20px;
}


.question-div7 {
    margin: 420px 0;
    position: absolute;
    left: 5%;
    width: 90%;
    translate: 0 -30px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

.question-div7 select {
    width: auto;
    height: 20px;
}

.check {
    border-radius: 5px;
    position: absolute;
    translate: 0 450px;
    width: 90%;
    left: 5%;
    font-size: large;
}

.correctAnswersText {
    translate: 0 0;
}

@media (max-width:767px) {
    .question-div1 {font-size: 15px; translate: 0 -5px;}
    .question-div2 {font-size: 15px; translate: 0 -5px;}
    .question-div3 {font-size: 15px; translate: 0 -5px;}
    .question-div4 {font-size: 15px; translate: 0 -5px;}
    .question-div5 {font-size: 15px; translate: 0 -5px;}
    .question-div6 {font-size: 15px; translate: 0 -5px;}
    .question-div7 {font-size: 15px; translate: 0 -5px;}

    .text-box {width: 80%;}
    .text-box h1 {text-align: center;translate: 0 7px;}
    .text-box span {padding: 15px;display: block;font-size: larger;translate: 0 0;}
    .check {translate: 0 430px;}

    .correctAnswersText {translate: -15px 0;}
}